<div class="blog-container">
  <%= render 'shared/navbar' %>
  <section id="section8" class="blog-bg" style="height: initial;">
    <div class="banner">
      <div>
        <h1 class="blog-title">Welcome To Jasmin's Journal</h1>
      </div>
    </div>
  </section>

  <%# <section id="section3" class="color-bg" style="background-color: #FFAFDA;"> %>
  <div class="blog-section">
    <div class="blog-intro d-flex flex-column">
      <h1 class="title-blog-section">Authentic Travel Stories & Expert Tips</h1>
      <p class="pt-4 blog-intro-text">  Your go-to blog for travel inspiration, cultural insights, and hidden gems across Southern Asia.
  Dive into personal experiences, expert tips, and must-visit locations to make the most of your journey.
  Explore it all or browse by destination below.</p>
    </div>
  </div>
  <%# </section> %>

  <section id="section4" class="color-bg" style="background-color: #EFEDE7;">
  <h1 class="filter-by">Filter by destination:</h1>
    <div class="d-flex justify-content-center gap-3 filters">
      <a href="/blogs?category=all"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'all' || params[:category].blank? %>">
        All
      </a>
      <a href="/blogs?category=pet_care"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'pet_care' %>">
        Bali
      </a>
      <a href="/blogs?category=pet_care"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'pet_care' %>">
        Cambodia
      </a>
      <a href="/blogs?category=pet_care"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'pet_care' %>">
        Japan
      </a>
      <a href="/blogs?category=dog_walking"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'dog_walking' %>">
        North Thailand
      </a>
      <a href="/blogs?category=pet_care"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'pet_care' %>">
        Philippines
      </a>
      <a href="/blogs?category=pet_care"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'pet_care' %>">
        Singapore
      </a>
      <a href="/blogs?category=pet_care"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'pet_care' %>">
        South Thailand
      </a>
      <a href="/blogs?category=pet_care"
        class="filter-button d-flex align-items-center <%= 'active-filter' if params[:category] == 'pet_care' %>">
        Vietnam
      </a>
    </div>

    <div class="container mt-4">
      <div class="row blogs-row">
        <% @posts.each do |post| %>
          <div class="col-md-4 mb-4">
            <a href="<%= blogs_post_path(post.fields[:slug]) %>" class="post-link">
              <div class="post card">
                <% if post.fields[:blog_image].present? %>
                  <% image_url = "https:" + post.fields[:blog_image].url %>
                  <%= image_tag image_url, alt: "Blog Image", class: "card-img-top" %>
                <% else %>
                  <p>No image available</p>
                <% end %>

                <div class="card-body">
                  <h4 class="card-title font-michroma"><%= post.fields[:title] %></h4>
                  <%# <h4 class="card-title font-michroma"><%= post.fields[:date].strftime("%B %d, %Y") %>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="pagination">
      <%= paginate @posts %>
    </div>
  </section>
</div>
