<div class="landing-container">
  <%= render 'shared/navbar' %>
  <section id="section1" class="video-bg">
    <video class="video-bg"  autoplay="autoplay" loop="loop" muted defaultMuted playsinline oncontextmenu="return false;"  preload="auto">
      <source src="<%= asset_path('jasmins_blog_opening_video.mp4') %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="background-picture">
      <div class="ww-home-text d-flex justify-content-center align-items-center flex-column">
        <h1 class="ww-home-services text-center" style="font-family: Beautifully Delicious Sans; font-size: 20px;">Welcome To</h1>
        <h1 class="wanstead-wags-title wanstead-wags text-center">Jasmin's Journal</h1>
        <h1 class="ww-home-services text-center">Travel & Journalism Blog</h1>
        <%= link_to("BLOGS", blogs_path, class: "text-center home-button button mt-5") %>
      </div>
    </div>
  </section>

  <section id="section2" class="color-bg" style="background-color: #032B22;">
    <div class="green-background welcome-section">
      <div class="welcome-message">
        <h1 class="welcome wanstead-wags-title titles" style="color: #40FFB5; font-size: 3rem">Welcome To My Blog!</h1>
        <p class="text padding-text">I’m Jasmin, and this is the beginning of my three-month backpacking journey through Southeast Asia. Alongside my best friend, I'm leaving behind the comfort of routine for the excitement of adventure, starting with a one-way flight to Bangkok at the end of February. This blog will be where I share our experiences, the highs and lows, and all the unforgettable moments along the way. Follow along as I embrace new cultures, try unfamiliar foods and welcome whatever the journey brings.</p>
      </div>
      <div class="welcome-to-photo">
        <%= image_tag "welcoming_picture.png", alt: "Photo of a dog walking in the woods", class: "photo-two" %>
      </div>
    </div>
  </section>

  <section id="section5" class="color-bg" style="background-color: #FFAFDA;">
    <div class="blog-background">
      <h1 class="welcome wanstead-wags-title titles d-flex justify-content-center mb-5" style="color: #032B22;">Blog Catalogue</h1>
      <div class="blog-posts container mt-4 m-0">
        <div class="row blog-container-home">
          <% @posts.each_with_index do |post, index| %>
            <% if index < 3 %>
              <div class="col-md-4 mb-4">
                <a href="<%= blogs_post_path(post.fields[:slug]) %>" class="post-link">
                  <div class="d-flex flex-column align-items-center">
                    <% if post.fields[:blog_image].present? %>
                      <% image_url = "https:" + post.fields[:blog_image].url %>
                      <%= image_tag image_url, alt: "Photo of a dog walking in the woods on their own.", class: "blog-images" %>
                    <% else %>
                      <p>No image available</p>
                    <% end %>
                    <div class="post-description">
                      <p class="blog-location text-center"><%= post.fields[:location].upcase %></p>
                      <p class="text blogs-title"><%= post.fields[:title] %></p>
                      <p class="blog-text text-center"><%= post.fields[:description] %></p>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to("VIEW ALL", blogs_path, class:"home-button button mt-1", style:"border-color: #032B22!important; color: #032B22;") %>
    </div>
  </section>

  <section id="section6" class="color-bg" style="background-color: #EFEDE7;">
    <div class="d-flex flex-column areas-covered">
      <div class="">
        <div class="d-flex justify-content-between">
          <div>
            <h1 class="areas-covered-title wanstead-wags-title titles text-left" style="color: #00634D">Explore by destination:</h1>
            <p class="text" style="color: #032B22;">Click on the locations on the map to explore detailed insights, including tips, tricks, and recommendations to enhance your experience.</p>
          </div>
        <div class="ticket-container">
          <%= image_tag "tickets.svg", class:"ticket-image", alt:"Ticket" %>
        </div>
      </div>
      <div class="d-flex mapbox" >
        <div class="d-flex text align-items-center" style="color: #032B22; width: max-content;">
          <ul class="explore-list">
            <li data-name="North Thailand">North Thailand</li>
            <li data-name="Vietnam">Vietnam</li>
            <li data-name="Cambodia">Cambodia</li>
            <li data-name="Philippines">Philippines</li>
            <li data-name="Bali">Bali</li>
            <li data-name="Singapore">Singapore</li>
            <li data-name="South Thailand">South Thailand</li>
          </ul>
        </div>
        <div class="explore-map" id="map" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </section>

<style>
  .explore-map-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    margin-top: 20px; /* Optional: add some space above the map */
  }

  @media (max-width: 768px) {
    .explore-map-container {
      padding-bottom: 75%; /* 4:3 aspect ratio for mobile screens */
    }
  }

  /* Ensure the list doesn't interfere with the map */
  .explore-list {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .explore-list li {
    cursor: pointer;
  }

  .explore-list li:hover {
    color: #00634D; /* Optional: add hover effect */
  }
</style>


  <section id="section7" class="color-bg" style="background-color: #00634D;">
    <div class="travel-stories">
      <h1 class="welcome wanstead-wags-title titles d-flex justify-content-center mb-5" style="color: #40FFB5;">My Travel Stories</h1>
      <div class="blog-posts container mt-4 m-0">
        <div class="row blog-container-home">
          <% @posts.each_with_index do |post, index| %>
            <% if index < 3 %>
              <div class="col-md-4 mb-4">
                <a href="<%= blogs_post_path(post.fields[:slug]) %>" class="post-link">
                  <div class="d-flex flex-column align-items-center">
                    <% if post.fields[:blog_image].present? %>
                      <% image_url = "https:" + post.fields[:blog_image].url %>
                      <%= image_tag image_url, alt: "Photo of a dog walking in the woods on their own.", class: "blog-images" %>
                    <% else %>
                      <p>No image available</p>
                    <% end %>
                    <div class="post-description">
                      <p class="text travel-title"><%= post.fields[:title] %></p>
                      <p class="travel-text text-center"><%= post.fields[:description] %></p>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to("VIEW ALL", blogs_path, class:"home-button button mt-1") %>
    </div>
  </section>
</div>
